* { box-sizing: border-box; }

body { 
  padding: 0;
  margin: 0;
  font-family: "acumin-pro",sans-serif;
  background: #F9FFD9;
}
.demo button {
  background-color: #F9FFD9;
  border: none;
  padding: 20px;
  color: #545591;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  transition: all linear 250ms;
}
.demo button:hover {
  background-color: #FF217D;
  color: #FFF;
}
pre[class*="language-"] {
  background: #F9FFD9;
  font-size: 16px;
}
pre {
  word-wrap: break-word; 
}
code {
  background: #FBFBFB;
  padding: 2px 4px;
  border-bottom: 1px solid #666;
}
pre code {
  padding: 0;
  border-bottom: none;
  background: #F9FFD9;
  width: 100%;
  display: block;
}
pre.code {
  width: 100%;
}
.editor, output {
  float: left;
  width: 50%;
  min-height: 200px;
  transition: background linear .2s;
  margin-bottom: 20px;
  will-change: transform;
}
output {
  margin-top: 8px;
  width: 100%;
  padding: 20px;
}
.example {
  padding-top: 20px;
}
.json {
  transition: background linear .2s;
  width: calc(50% - 10px);
  float: right;
  overflow: hidden;
  height: 332px;
}

.editor.error, .json.error {
  background: #F3D0D0;
}
.CodeMirror-scroll::-webkit-scrollbar { width: 0 !important }
.CodeMirror-scroll {
  overflow: -moz-scrollbars-none !important;
  -ms-overflow-style: none;
}
.CodeMirror {
  color: #2D5582;
  background: #FFFBDC;
  height: 300px;
  border: 1px solid #E9E9E9;
  padding: 20px;
  font-size: 16px;
  font-family: Consolas,Monaco,"Andale Mono",monospace;
}
footer {
  margin-top: 40px;
}

aside a { text-decoration: none; }
a { color: #59646E; }

a span { position: relative; top: -5px; }
.bump { margin-top: 40px; }

aside {
  display: inline-block;
  position: relative;
  width: 30%;
  height: 1600px;
  padding-top: 20px;
}

aside.fixed {
  position: fixed;
  height: 100%;
}

aside .github {
  background-color: #80C338;
  color: #FFF;
  padding: 20px;
  display: block;
  text-align: right;
  width: 100%;
  top: 100px;
  height: 60px;
  z-index: 200;
}

aside h1 {
  font-size: 240%;
  text-align: right;
  color: #80C338;
  margin-bottom: 0;
  padding-right: 20px;
  position: relative;
  cursor: pointer;
  background-color: #F9FFD9;
}

aside h1 img {
  position: fixed;
  z-index: 50;
  left: 20px;
  width: 70px;
}

aside h1:after {
  cursor: pointer;
  content: "Nav Menu";
  display: block;
  position: fixed;
  left: 100px;
  width: 140px;
  background-color: rgb(228, 239, 174);
  height: 20px;
  font-size: 15px;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  color: #666;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px 0px 2px #D4DEA4;
  margin-top: -11px;
  padding-top: 7px;
  z-index: -1;
}

h3 {
  color: #59646E;
}

main {
  display: inline-block;
  width: 70%;
  float: right;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 12px;
  line-height: 35px;
  font-size: 20px;
  color: #545454;
  background-color: #FFF;
  border-left: 4px solid #EAF3BE;
}

main > pre, main > iframe {
  box-shadow: 8px 7px 3px rgba(255, 33, 125, 0.05);
}

main hr {
  border: none;
  border-bottom: 3px solid rgba(234, 243, 190, 0.35);
  margin-bottom: 0;
  clear: both;
}

main h2 {
  color: #80C338;
  padding-top: 28px;
}

nav {
  display: block;
  text-align: right;
  margin-top: 0;
/*  position: absolute;*/
  width: 100%;
  bottom: 0;
  top: 153px;
  overflow-y: auto;
  padding: 20px;
  z-index: 100;
  background-color: #F9FFD9;
}
nav h4 {
  color: #666666;
  font-weight: normal;
  font-size: 22px;
  margin-bottom: 11px;
}

nav a {
  color: #FF217D;
  font-weight: bold;
  font-size: 14px;
  display: block;
  line-height: 42px;
  border-bottom: 3px solid transparent;
  transition: border linear 100ms;
  position: relative;
}

nav a:hover:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(to right, #F9FFD9, rgba(0, 183, 255, 0));
  width: 60%;
  z-index: 100;
  height: 45px;
}

nav a:hover {
  border-bottom: 3px solid #FF217D;
  background: #FAFFE2;
}

nav hr {
  border: none;
  border-bottom: 1px solid #EAF3BE;
}
favorite-movies-chart {
  border: none !important;
  background: #FF217D;
  border-radius: 10px;
  line-height: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
  border-top-left-radius: 0;
}

favorite-movies-chart svg {
  border-top-left-radius: 0 !important;
}

.re-render {
  background: #CC1A64;
  color: #FFF;
  padding: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  margin-bottom: 5px;
}

@media (max-width: 1000px) {
  aside h1 img {
    top: 80px;
    right: auto;
    left: 20px;
  }
}

@media (max-width: 768px) {
  body {
    position: relative;
    overflow-x: hidden;
    margin-top: 120px;
  }

  aside {
    display: block;
    position: static;
    width: 100%;
    height: 1600px;
    padding-top: 0;
    background-color: #FFFFFF;
  }

  aside span {
    text-align: left;
  }

  nav {
    text-align: left;
  }

  nav a:hover:after {
    left: auto;
    right: 0;
    background: linear-gradient(to left, #F9FFD9, rgba(0, 183, 255, 0));
  }

  main {
    display: inline-block;
    width: 100%;
    float: right;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 12px;
    line-height: 35px;
    font-size: 20px;
    color: #545454;
    background-color: #FFF;
    border-left: 4px solid #EAF3BE;
  }

  output {
    zoom: 0.5;
  }

  .editor, .json {
    float: none;
    width: 100%;
  }
  
  aside h1 {
    background-color: #F9FFD8;
    text-align: left;
    padding-left: 20px;
  }

  aside h1 img {
    top: 20px;
    z-index: 5000;
    position: fixed;
    width: 64px;
    left: 20px;
  }

  aside h1:after {
    content: " ";
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    background: linear-gradient(#F9FFD9, rgba(255, 255, 255, 0));
  }
}

strong.board-label {
  position: relative;
  top: -5px;
  color: #848484;
}
.board {
  border-radius: 15px;
  background-color: #333;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 20px;
  position: relative;
}
.args {
  color: #CCC;
}

h2[id] { cursor: pointer; position: relative; }
h2[id]:hover:before {
  content: '#';
  color: #CCC;
  position: absolute;
  left: -30px;
  padding-right: 30px;
  display: block;
  top: 28px;
}

#backgrounds { display: none; }

.polyfill-equiv {
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  padding-top: 0px;
  display: block;
  text-decoration: none;
}

.polyfill-equiv code {
  color: #80C338;
  border-bottom: 2px solid #CCCCCC;
}

h5 { color: #545454; }

i.type {
  color: #FF217D;
}

a[href='#custom-elements'],
a[href='#options'] {
  color: #80C338;
}

span.text {
  position: relative;
  top: -3px;
}
